<article class="post">
      <div class="title">
          <div class="columns">
        <div class="column"><a href="{{albumart_url}}" target="_blank">{{title}}</a>
        <img src="{{albumart_url}}"></div>
        <div class="column">
          <div>Album Title:<a href="{{album_title}}" target="_blank">{{title}}</a>
        <span class="has-text-link">{{album_title}}</span></div>
        <div>Album Artist:<a href="{{album_artist}}" target="_blank">{{title}}</a>
        <span class="has-text-link">{{album_artist}}</span></div>
        </div>
        <div class="column">Review:<a href="{{review}}" target="_blank">{{title}}</a>
        <span class="has-text-link">{{review}}</span></div>
        </div>
      </div>
      <div class="meta">
        {{favorite_count}} {{format_plural "favorite" favorite_count}} by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>