<article class="post">
      <div class="title">
        <a href="{{albumart_url}}" target="_blank">{{title}}</a>
        <img src="{{albumart_url}}">
        <a href="{{album_title}}" target="_blank">{{title}}</a>
        <span>({{album_title}})</span>
        <a href="{{album_artist}}" target="_blank">{{title}}</a>
        <span>({{album_artist}})</span>
        <a href="{{review}}" target="_blank">{{title}}</a>
        <span>({{review}})</span>
      </div>
      <div class="meta">
        {{favorite_count}} {{format_plural "favorite" favorite_count}} by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>