<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      Album Art <input name="album-art" type="url" value="{{post.albumart_url}}"></div>
    <div> Album Title<input name="album-title" type="text" value="{{post.album_title}}"> </div>
    <div>Album Artist<input name="album-artist" type="text" value="{{post.album_artist}}"> </div>
    <div>Album Review<input name="album-review" type="text" value="{{post.review}}"> </div>


    <div>
      {{post.favorite_count}} {{format_plural "favorite" post.favorite_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>